<h1>Couch Foodies</h1>
<h2>All Cooking Shows, All the Time</h2>

<% @cooking_shows.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |cooking_show| %>
      <div class="col-md-4">
        <%= image_tag cooking_show.picture_url(:thumb) if cooking_show.picture?%>
        <h3><%= link_to cooking_show.name, cooking_show %></h3>
        <p><%= cooking_show.description %></p>
        <p><%= cooking_show.country %>, <%= cooking_show.years %></p>
        <%= link_to 'Delete', cooking_show, data: { confirm: 'Are you sure?' }, method: :delete %>
      </div>
    <% end %>
  </div>
<% end %>
