<div class="row">
  <div class="col-md-9">
    <%= image_tag(@cooking_show.picture_url, width: '100%') if @cooking_show.picture.present? %>
  </div>
  <div class="col-md-3">
    <h1><%= @cooking_show.name %></h1>
    <p><span class="field-label">Country:</span> <%= @cooking_show.country %></p>
    <p><span class="field-label">Years:</span> <%= @cooking_show.years %></p>
    <p><span class="field-label">Description:</span> <%= @cooking_show.description %></p>
    <p>Find <%= @cooking_show.name %>:</p>
      <ul>
        <li><a href="https://www.youtube.com/results?search_query=<%= @cooking_show.name %>">YouTube</a></li>
        <li><a href="http://www.imdb.com/find?ref_=nv_sr_fn&q=<%= @cooking_show.name %>&s=all">IMDB</a></li>
        <li><a href="https://www.wikipedia.org/search-redirect.php?family=wikipedia&search=<%= @cooking_show.name %>&language=en&go=++%E2%86%92++&go=Go">Wikipedia</a></li>
        <li><a href="https://www.reddit.com/search?q=<%= @cooking_show.name %>">Reddit</a></li>
      </ul>

    <p>
      <%= link_to 'Edit', edit_cooking_show_path(@cooking_show) %> |
      <%= link_to 'Delete', @cooking_show, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', cooking_shows_path %>
    </p>

    <h2>Comments</h2>
      <% @comments.each do |comment| %>
        <div>
          <strong><%= comment.user_name %></strong>
          <br />
          <p><%= comment.body %></p>
          <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
      <h3>Add New Comment</h3>
      <%= render 'comments/form' %>
    </div>
</div>
